@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
select{
  background-color: wheat
    border-radius: 200px 200px;
  padding-bottom:10px;
  box-shadow: 5px 10px #888888;
  margin-bottom: 25px;

}
input {
 padding-top: 10px;
  padding-bottom:10px;
  border-radius:10px;
  border-color: green;
border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px 8px black;
  margin: 20px;
  font-family: 'Rajdhani', sans-serif;
}
input:placeholder{
  font-family: 'Rajdhani', sans-serif;

}
body{
  background-color: wheat;
}

